<div class="bio-container">
  {{- range site.Taxonomies.authors -}}
    {{- with .Page -}}
    {{- $authorObj := .Params -}}
      {{- if .Params.featured -}}
        {{- with .Params.avatar }}
          <div class="bio-avatar">
            <div class="bio-avatar-inner">
              <div class="author-avatar">
              {{- $m := (dict "src" . "alt" $authorObj.title) -}}
              {{ partial "func/ImageToPicture" $m }}
              </div>
            </div>
          </div>
        {{- end }}
        {{- with .Params.bio }}
          <p class="bio-text">{{ trim . "\n" }}</p>
        {{- end }}
      {{- end }}
    {{- end }}
  {{- end }}
        </div>