<section id="articleHero" class="section narrow">
    <div class="article-hero">
        <header class="article-header">
            <h1 class="article-hero-heading">{{ .Page.Params.Title }}</h1>
            <div class="article-hero-subtitle">
                <div class="article-meta">
                    {{ partial "article/authors.html" . }}
                    {{ .Page.Date.Format "January 2, 2006" }}
                    • {{ .ReadingTime }} min read
                </div>
            </div>
        </header>
        {{ $page := .Page }}
        {{ with .Page.Params.hero }}
        <div class="article-hero-image" id="ArticleImage__Hero">
          {{- $m := (dict "src" . "alt" $page.Params.Title) -}}
          {{ partial "func/ImageToPicture" $m }}
        </div>
        {{ end }}
    </div>
</section>
