.article-hero-heading {
  font-size: 48px;
  font-family: var(--serif);
  margin-bottom: 25px;
  font-weight: 700;
  line-height: 1.32;
}
.article-header {
  position: relative;
  z-index: 10;
  margin: 100px auto 120px;
  padding-left: 0;
  max-width: unset;
}
.article-hero-image {
  position: relative;
}
.aside-container {
  float:left;
}
h1, h2, h3, h4, h5, h6, .article-hero-subtitle {
  max-width:944px;
}
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
p {
  margin: 0 auto 25px;
  max-width:880px;
}
ul {
  max-width:880px;
}
blockquote>p {
  max-width:944px !important;
}
p > code, li > code {
  display:inline-block;
  background:#292c34;
  color:#f8f8f2;
  font-size:0.75em;
  padding:0.5em;
  border-radius: 2px;
}
center img {
  max-width:944px;
  margin: 10px auto 20px;
}
figure img {
  max-width:944px;
  margin: 1em auto 0;
  border:6px solid #292c34;
}
figure figcaption p {
  background: #292c34;
  font-size: 0.8em;
  padding:6px;
  max-width:944px;
  color:#fafaf8;
}
.pagination .page-item .page-link {
  text-align:center;
}
.author-avatar {
  height: inherit;
}
blockquote {
  margin: 50px auto 50px;
}
table {
  max-width:944px;
  margin: 35px auto;
}
table thead tr th {
  padding: 15px 30px;
}
.imgSetRow {
  justify-content: space-between;
  display: flex;
  max-width: 944px;
  margin: 20px auto;
}
.img-cols-3 {
  max-width: 23%;
}
.img-cols-4 {
  max-width: 31%;
}
.img-cols-6 {
  max-width: 48%;
}
[class*="img-cols-"] img {
  width:100%;
}
li ul {
  padding: 25px 0 0 32px;
  display:inline-block;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="img-cols-"] {
    max-width: 100%;
  }
  [class*="img-cols-"] img {
    margin: 1em 0;
  }
  center img {
    max-width:100%;
  }
  table {
    max-width: 768px !important;
    width: 100% !important;
    overflow: scroll !important;
    display: inline-block !important;
  }
  table thead tr th {
    padding: 14px 20px;
  }
  .imgSetRow {
    display: inline-block;
  }
}
.maxWidthWrapper {
  max-width: 100%;
  overflow: auto;
}