.article-hero-heading {
  font-size: 48px;
  font-family: var(--serif);
  margin-bottom: 25px;
  font-weight: 700;
  line-height: 1.32;
}
.article-header {
  position: relative;
  z-index: 10;
  margin: 100px auto 100px;
  padding-left: 0;
  padding-right: 0;
  max-width: unset;
}
.article-hero-image {
  position: relative;
  max-width: 100%;
}
.aside-container {
  float:left;
}
h1, h2, h3, h4, h5, h6, .article-hero-subtitle {
  max-width:944px;
}
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
a {
  word-break: break-word;
}
p {
  margin: 0 auto 25px;
  max-width:880px;
}
ul, ol, div.code-toolbar {
  max-width:820px;
}
blockquote>p {
  max-width:944px !important;
}
p > code, li > code {
  display:inline-block;
  background:#292c34;
  color:#f8f8f2;
  font-size:0.75em;
  padding:0.5em;
  border-radius: 2px;
}
center img, center picture source[type="image/webp"] {
  max-width:944px;
  margin: 10px auto 20px;
}
figure img, center picture source[type="image/webp"] {
  max-width:944px;
  margin: 1em auto 0;
  border:6px solid #292c34;
}
figure figcaption p {
  background: #292c34;
  font-size: 0.8em;
  padding:6px;
  max-width:944px;
  color:#fafaf8;
}
.pagination .page-item .page-link {
  text-align:center;
}
.author-avatar, .author-avatar * {
  height: inherit;
  width: 100%;
}
picture {
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
picture img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  max-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
/*
picture source {
  -webkit-animation-name: image-load-in;
  animation-name: image-load-in;
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
  vertical-align: middle;
}
*/
blockquote {
  margin: 50px auto 50px;
}
table {
  max-width:944px;
  margin: 35px auto;
}
table thead tr th {
  padding: 15px 30px;
}
.imgSetRow {
  justify-content: space-between;
  display: flex;
  max-width: 944px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 40px;
}
.img-cols-3 {
  max-width: 23%;
}
.img-cols-4 {
  max-width: 31%;
}
.img-cols-6 {
  max-width: 48%;
}
li ul {
  padding: 25px 0 0 32px;
  display:inline-block;
}
.article-metadata {
  opacity: 1;
}
.centeredPictureHolder {
  text-align: center;
  width:100%;
  margin: 0 auto;
  max-width:944px;
}
.article-hero-image .centeredPictureHolder {
  max-width: inherit;
}
.author-hero-image .centeredPictureHolder {
  height:100%
}
.icon-wrapper {
  height:40px;
}
.moon-mask {
  height: 32px;
  width: 28px;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="img-cols-"] {
    max-width: 100%;
  }
  blockquote {
    word-break: break-word;
  }
  [class*="img-cols-"] img, [class*="img-cols-"] picture source[type="image/webp"] {
    margin: 1em 0;
  }
  center img, center picture source, .centeredPictureHolder, .centeredPictureHolder img, .centeredPictureHolder picture source {
    max-width:100%;
  }
  table {
    max-width: 768px !important;
    width: 100% !important;
    overflow: scroll !important;
    display: inline-block !important;
  }
  table thead tr th {
    padding: 14px 20px;
  }
  .imgSetRow {
    display: inline-block;
  }
  .article-hero-image {
    max-width: 100vw;
    width: 100vw;
    margin-left: -4rem;
  }
  .layout-styled {
    margin-top: -2rem;
  }
  .post-content {
    padding: 35px 0;
  }
  blockquote {
    padding: 0 20px;
  }
}
.author-hero-image img, .author-hero-image picture source[type="image/webp"] {
  height: 100%;
}
.social-icon-container a {
  margin-right: 0;
  text-align: center;
  display: inline-block;
  width: 100%;
}
.post-content {
  padding: 80px 0 35px;
}
.article-hero-subtitle {
  border:none;
  padding: 0;
}
.maxWidthWrapper {
  max-width: 100%;
  overflow: auto;
}
div.code-toolbar pre, .code-toolbar pre {
  max-height: 693px;
  padding: 2.5em!important;
  border-radius: 0 !important;
}
div.code-toolbar pre.line-numbers, .code-toolbar pre.line-numbers {
  max-height: 693px;
  padding: 2.5em!important;
  padding-left: 5em!important;
  border-radius: 0 !important;
}
#articleComments {
  padding-bottom:20px;
}
#articleComments h3.footer-next-heading {
  margin-bottom:30px;
}
#articleTOC {
  padding-top:100px;
}
time {
  display: inline-block;
  margin: 0 0.25em 0 0;
}
h4 code, h5 code {
  background: #292c34!important;
  padding: 10px;
  color: #FAFAFA;
}

.command-line span.token.output {
	user-select: none;
}

.pagination .page-item {
  flex: 1;
}
.pagination .page-item .page-link {
  min-width: fit-content;
}