**/plausible-conf.env.secret.yaml
plausible-conf.env.secret.yaml
**/plausible-conf.env.secret.yml
plausible-conf.env.secret.yml
plausible-ingress.yaml
plausible-ingress.yml
**/plausible-ingress.yaml
**/plausible-ingress.yml